<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    const arr = [
      { key: 5464, value: 645844 },
      { key: 5645, value: 646464 }
    ]
    const arr2 = arr.map(item => {
      console.log(item)
      item.aaa = 666666
      console.log(item)
      return item

    })
    console.log(arr2)
  </script>
</body>

</html>